@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,700;1,900&family=Shippori+Antique&display=swap');

*{
    padding: 0px;
    border: 0px;
    font-family: 'lato',sans-serif;

    --verde: #004362;
    --corTexto: #797979;
}

body{
    
    background-image: linear-gradient(to right,#2D400B,#26411A,#1B422F,#114344,#044259);
    margin: 1px;
}


main{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vh;
    height: 70vh;
    background-color: blue;
    border: 0px;
    padding: 0px;
    border-radius: 10px;

}

.sub-container{    
    display: inline-block;
    padding: 30px;
    height: 100%;
    width: 50%;
}

#div-image{
    background-image: url('../images/background.png');
    background-size: 100% 100%;
    opacity: 1;
    
   
}

#div-login{
    background-color: white; 
    position: fixed;
}

.div-input{
    padding: 2px;
    border: 3px solid black;
}

.logo-sigra{
    width: 100px;
    position: static;
    margin: auto;
    display: block;
}

.titulo{
    text-align: center;
    font-size: 18px;
    color: var(--verde);
}

label{
    color: var(--corTexto);
    font-weight: bold;
    font-size: 13px;
}

@media only screen and  (max-width: 750px){
    #div-image{
        display: none;
        
    }

    main{
        width: 40vh;
        margin: auto;
    }

    body{
        margin: 1px;
    }
    #div-login{
        margin: auto;
        width: 40vh;    
    }
}

