@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,700;1,900&family=Shippori+Antique&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

main{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vh;
    height: 80vh;
    background-color: blue;
    border: 0px;
    padding: 0px;
    border-radius: 10px;
}

.sub-container{
    display: inline-block;
    
    height: 100%;
}

#div-image{
    background-image: url('../images/background.png');
    background-size: 100% 100%;
    opacity: 1;
    width: 50vh;
   
}

#div-login{
    background-color: white;
    padding: 20px;
    width: 43vh;
}

@media only screen and  (max-width: 900px){
    #div-image{
        display: none;
    }

    main{
        width: 50vh;
    }
}